
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 50px
}

.center-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100vh; 
    padding: 20px;
    background-color: #ea8d1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left-container {
    width: 30%; 
    height: 100%;
    padding: 10px;
    background-color: #10f6f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 37px
}

.center-inner-container {
    margin: 0;
    padding: 0;
}

.right-container {
    width: 30%;
    height: 100%; 
    padding: 10px;
    background-color: #17cc0deb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* font-size: 50px */
}

.emoji {
    font-size: 36px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 7px;
    width: 100%; 
    background-color: #ea8d1a;
    padding: 0px;
}

.move {
    width: 100px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    background-color: #eee;
    cursor: pointer;
}

/* .right-container {
    width: 30%;
    height: 100%; 
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} */

